@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-4xl text-pink-800 font-bold;
  }
  h2 {
    @apply text-2xl text-green-800 font-bold;
  }
  h3 {
    @apply text-xl font-bold;
  }
}
